In [2]:

from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi
from dotenv import load_dotenv
import os

In [7]:
# Step 1: Load environment variables from .env file
load_dotenv()

# Step 2: Get the MongoDB URL from the environment variables
uri = os.getenv("MONGODB_URL")

if not uri:
    raise ValueError("MONGODB_URL not found in .env file")

In [8]:
# Create a new client and connect to the server
client = MongoClient(uri, server_api=ServerApi('1'))

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [4]:
db = client['myDB']

In [5]:
col = db['test']

In [6]:
data = {"First_Name":"Gopi",
        "Last_Name":"Pandit",
        "Age":32,
        "Phone Number" : 70032440,
        "Gender" :"Male",
        "Address" : "Bangalore"}

In [7]:
col.insert_one(data)

InsertOneResult(ObjectId('67a4e8a3c34197002c73e93c'), acknowledged=True)

In [9]:
data2 = {"_id" : 2,
        "First_Name":"Anupam",
        "Last_Name":"Pandit",
        "Age":24,
        "Phone Number" : 7856853,
        "Gender" :"Male",
        "Address" : "HSR, Bangalore",
        "Hobbies" : "Making money"}

In [10]:
col.insert_one(data2)

InsertOneResult(2, acknowledged=True)

In [12]:
from pymongo import MongoClient
from bson import ObjectId

In [14]:
# Step 2: Fetch the document with the current _id
current_id = ObjectId("67a4e8a3c34197002c73e93c")  # Replace with your _id
document = col.find_one({"_id": current_id})

if document:
    # Step 3: Create a new document with the updated _id
    new_id = 1  # Replace with your desired _id
    new_document = document.copy()  # Copy the original document
    new_document["_id"] = new_id  # Update the _id field

    # Step 4: Insert the new document
    col.insert_one(new_document)

    # Step 5: Delete the old document
    col.delete_one({"_id": current_id})

    print("Document _id updated successfully!")
else:
    print("Document not found.")

Document _id updated successfully!

In [15]:
col.insert_one(data)

InsertOneResult(ObjectId('67a4e8a3c34197002c73e93c'), acknowledged=True)

In [25]:
d = col.find()

In [26]:
for i in d:
    print(i.keys())

dict_keys(['_id', 'First_Name', 'Last_Name', 'Age', 'Phone Number', 'Gender', 'Address', 'Hobbies'])
dict_keys(['_id', 'First_Name', 'Last_Name', 'Age', 'Phone Number', 'Gender', 'Address'])
dict_keys(['_id', 'First_Name', 'Last_Name', 'Age', 'Phone Number', 'Gender', 'Address'])

In [27]:
documents = [
    {
        "First_Name": "John",
        "Last_Name": "Doe",
        "Age": 28,
        "Phone_Number": "123-456-7890",
        "Gender": "Male",
        "Address": {
            "Street": "123 Main St",
            "City": "New York",
            "State": "NY",
            "Zipcode": "10001"
        }
    },
    {
        "First_Name": "Jane",
        "Last_Name": "Smith",
        "Age": 34,
        "Phone_Number": "987-654-3210",
        "Gender": "Female",
        "Address": {
            "Street": "456 Elm St",
            "City": "Los Angeles",
            "State": "CA",
            "Zipcode": "90001"
        }
    },
    {
        "First_Name": "Alice",
        "Last_Name": "Johnson",
        "Age": 22,
        "Phone_Number": "555-123-4567",
        "Gender": "Female",
        "Address": {
            "Street": "789 Oak St",
            "City": "Chicago",
            "State": "IL",
            "Zipcode": "60601"
        }
    },
    {
        "First_Name": "Bob",
        "Last_Name": "Brown",
        "Age": 45,
        "Phone_Number": "444-555-6666",
        "Gender": "Male",
        "Address": {
            "Street": "101 Pine St",
            "City": "Houston",
            "State": "TX",
            "Zipcode": "77001"
        }
    },
    {
        "First_Name": "Charlie",
        "Last_Name": "Davis",
        "Age": 30,
        "Phone_Number": "777-888-9999",
        "Gender": "Male",
        "Address": {
            "Street": "202 Maple St",
            "City": "Phoenix",
            "State": "AZ",
            "Zipcode": "85001"
        }
    }
]

In [29]:
col.insert_many(documents)

InsertManyResult([ObjectId('67a4ee47c34197002c73e93d'), ObjectId('67a4ee47c34197002c73e93e'), ObjectId('67a4ee47c34197002c73e93f'), ObjectId('67a4ee47c34197002c73e940'), ObjectId('67a4ee47c34197002c73e941')], acknowledged=True)

In [30]:
for i in col.find({"First_Name" : "Charlie"}):
    print(i)

{'_id': ObjectId('67a4ee47c34197002c73e941'), 'First_Name': 'Charlie', 'Last_Name': 'Davis', 'Age': 30, 'Phone_Number': '777-888-9999', 'Gender': 'Male', 'Address': {'Street': '202 Maple St', 'City': 'Phoenix', 'State': 'AZ', 'Zipcode': '85001'}}